 .body {
    background-color: #D0D0D0;
    font-family: 'Oswald', sans-serif;
  }
  #header {
    font-size: 34px;
    width: 155px;
    padding: 25px;
    border: 5px solid black;
    margin: 5px;
    text-align: right;
    margin: auto;
    font-family: 'Oswald', sans-serif;
  }
  .title {
    text-decoration: underline;
  }
  .title:hover {
    font-size: 45px;
    transition: all .2s ease-in-out;
    transform: scale(1.1);
    margin: 15px;
  }
  .post {
    width: relative;
    border: 1px solid black;
    font-size: 18px;
    background-color: white;
  }