h2 {
	text-decoration: underline;
}

body { border: 1 solid black;
}

div {
	width: 900px;
	height: 15px;
	/*padding: 11px; */
	color: black;
	float: left;
}

.flagwrap {
	width: 922px;
	height: 482px;
	position: relative;
	border: 1px solid black;
}

.red {
	background-color: red;
	margin: 0px 0px;
	float: left;
	padding: 11px;
}
.white {
	background-color: white;
	margin: 0px 0px;
	float: left;
	padding: 11px;
}
.square {
	width: 450px;
	height: 296px;
	background: blue;
	position: absolute;
}
.circle {
   width: 25px;
   height: 25px;
   background: white;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   border: solid black 1px;
   margin-left: 40px;
   margin-top: 8px;
}
.circle2 {
   width: 25px;
   height: 25px;
   background: white;
   -moz-border-radius: 50px;
   -webkit-border-radius: 50px;
   border-radius: 50px;
   border: solid black 1px;
   margin-left: 55px;
   margin-top: 8px;
}