#circle {
	width: 500px;
	height: 500px;
	background: black;
	-moz-border-radius: 250px;
	-webkit-border-radius: 250px;
	border-radius: 250px;
}
#coneBlue {
  width: 0;
  height: 0;
  border-left: 170px solid transparent;
  border-right: 170px solid transparent;
  border-top: 200px solid blue;
  opacity: 0px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}